/* general settings*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*body of the page*/
body{
   font-family: Arial, sans-serif;
   line-height: 1.6;
   background-color: #d6a15d;
   color: #333;
}
/*header of the page*/
header{
    background-color:#4b2e20;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: relative;
    border-radius: 10px;
}
/* footer of the page */
footer{
    color: white;
    background: #4b2e20;
    padding: 20px;
    display: block;
    border:solid #a58561;
    border-radius: 10px;
    text-align: center;
}
#greetings h3{
    font-size:15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*navigation bar*/
nav{
   display: flex;
   gap: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px 15px ;
    border-radius: 1px;
    transition:0.3s ease;
}

/* hover effect */
nav a:hover,
nav a:focus-visible,
nav a:active {
    background-color:#d6a15d;
    border-radius: 10px;
}
#introduction{
    margin:30px;

    background:  #4b2e2071;
    padding: 20px;
    color: white;
    border: solid #a58561;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#introduction h2{
    font-size: 32px;
    margin-bottom: 10px;
}
img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}
img:hover,
img:active{
    transform: translateY(-8px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); 
}
/*this is mainly for the brewing equipment*/
#equipment-items{
    margin:30px auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background:  #4b2e2096;
    border-radius: 10px;
}

.equipment{
  background-color: #29202a;
  color: white;
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 20px;
}
.equipment:hover,
.equipment:active{
    transform: translateY(-8px);
    background:  #4b2e2096; 
}
.equipment img{
    object-fit: cover;
    border-radius: 8px;
    margin: 10px 0;
}

/*forms*/
#workshop-form{
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;

    background-color: #29202a;
    color: white;
    margin: 30px;
    padding: 40px;

    text-align: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

    border-radius: 20px;
}
#form-field{
    display: grid ;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
}
/*tablets and smaller divices*/
@media (max-width: 900px){
    header{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .event-list{
        grid-template-columns: 1fr;
    }
    nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    #equipment-items{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
    .equipment{
        margin: 10px;
        padding: 25px;
    }
}



/*mobile divices*/
@media (max-width: 600px){
    body{
        font-size: 14px;
    }
    #upcoming-events,
    header{
        padding: 20px 10px;
        flex-direction: column;
    }
    /*Greetings*/
    #greetings{
        text-align: center;
    }
    #greetings h3{
        font-size: 20px;
    }
    /*navigation*/
    nav{
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }
    nav a{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    #equipment-items{
        grid-template-columns: 1fr;
        margin: 15px;
        padding: 10px;
    }
    .equipment{
        margin: 10px 0;
        padding: 20px;
    }
    .equipment img{
        width: 100%;
        height: 200px;
    }

    #introduction{
        margin: 15px;
        padding: 20px;
    }
    #introduction h2{
        font-size: 25px;
    }
    

    footer{
        margin: 10px;
        text-align: center;
    }
}